.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
}
