.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--secondary-color);
  padding: var(--padding-x);
}

.container a {
  cursor: pointer;
  color: rgb(209, 209, 209);
}

.container a:hover {
  cursor: pointer;
  color: white;
}

.items {
  position: fixed;
  height: 100vh;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: var(--secondary-color);
  gap: var(--medium-gap);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 100;
  transition: 0.3s all ease-in-out;
}
.items svg {
  font-size: 1.4rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.hidden {
  left: 100%;
}
.visible {
  left: 0%;
}

.brand {
  display: flex;
  gap: var(--medium-gap);
  text-transform: uppercase;
}

.menuBtn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: opacity 0.3s linear 2s;
}
.menuBtn svg {
  color: white;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }
  .items {
    transform: translate(0%, 0%);
    position: static;
    left: none;
    width: 90%;
    height: 100%;
    transition: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
    flex-direction: row;
    gap: var(--medium-gap);
    align-items: center;
  }
  .menuBtn {
    display: none;
  }
}
